<section>
    <form action="/admin/edit-place/{{place._id}}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Place Name</label>
            <input type="text" id="name" name="name" value="{{place.name}}" required>
        </div>

        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="price" value="{{place.price}}" required>
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="location" value="{{place.location}}" required>
        </div>

        <div>
            <label for="tslots">Total Slots</label>
            <input type="number" id="tslots" name="tslots" value="{{place.tslots}}" required>
        </div>

        <div>
            <label for="aslots">Available Slots</label>
            <input type="number" id="aslots" name="aslots" value="{{place.aslots}}" required>
        </div>

        <div>
            <label for="image">Change Image (optional)</label>
            <input type="file" id="image" name="image">
        </div>

        <button type="submit">Update Place</button>
    </form>

</section>