<section>
    <div class="container">
        <div class="row mt-4 mr-2">
            <a href="/admin/add-place" class="btn btn-success ml-auto">Add Places</a>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped table-bordered table-hover d-none d-md-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Location</th>
                        <th scope="col">Total Slot</th>
                        <th scope="col">Available Slot</th>
                        <th scope="col">Image prev</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope="row">{{this.counter}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.location}}</td>
                        <td>{{this.tslots}}</td>
                        <td>{{this.aslots}}</td>
                        <td><img class="img-fluid" style="max-width: 42px; height: auto;" src="{{this.image}}" alt=""></td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <a href="/admin/edit-place/" class="btn btn-primary btn-sm mr-2"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="/admin/delete-place/{{this._id}}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm ml-2"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!-- Mobile view using cards -->
            <div class="d-block d-md-none mt-4">
                {{#each products}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text"><strong>Price:</strong> {{this.price}}</p>
                        <p class="card-text"><strong>Location:</strong> {{this.location}}</p>
                        <p class="card-text"><strong>Total Slots:</strong> {{this.tslots}}</p>
                        <p class="card-text"><strong>Available Slots:</strong> {{this.aslots}}</p>
                        <img class="img-fluid mb-2" style="max-width: 100px; height: auto;" src="{{this.image}}" alt="">
                         <div class="d-flex justify-content-around">
                                <a href="/admin/edit-place/" class="btn btn-primary btn-sm mr-2"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="/admin/delete-place/{{this._id}}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm ml-2"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
