<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-place" class="btn btn-success ml-auto">Add Places</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Location</th>
                    <th scope="col">Total Slot</th>
                    <th scope="col">Available Slot</th>
                    <th scope="col">Image prev</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.location}}</td>
                    <td>{{this.tslot}}</td>
                    <td>{{this.aslot}}</td>
                    <td><img style="width: 42px; height: 50px" src="{{this.image}}" alt=""></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>